.B {
  border: 2px solid red;
}
.IB {
  border: 1px solid blueviolet;
}
* {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.header-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 6vh;
  width: 40%;
}
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu a {
  text-decoration: none;
}

.main-box{
  width: 100%;
    height: fit-content; 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main{
  width: 40%;

  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.text{
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  margin-bottom: 2%;
}
.text span{
  font-size: 30px;
}
.text p{
  color: rgb(182, 181, 181);
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
  cursor: pointer;
}
.img img{
  width: 45%;
  height: 45%;
  border-radius: 8px;
}
/* Study better this part ------------------------- */
.mixer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Cambiato da flex-start */
  align-items: center;
  gap: 20px; /* Aumentato il gap */
  margin-top: 2%;
  flex-wrap: wrap; /* Aggiungi flex-wrap per la responsività */
}
.main-mixer {
  max-width: 380px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 11px;
  flex: 1; /* Aggiungi flex per una migliore distribuzione */
}
.spotify-main {
  width: 320px;
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
}
.mixer-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-width: 320px; 
}
.song{
  width: 320px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}
iframe{
  border: none;
  max-width: 100%;
}
/* ------------------------------------------------ */
.footer-box{
  margin-top: 2%;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer ul {
    display: flex;
    list-style: none;
    gap: 20px;

}
.footer ul li a i{

}